.inputLogin {
    background-color: #602749;
    border: none;
    outline: none;
    width: 300px;
    height: 30px;
    box-shadow:5px 5px 4px #B14623;
}   

.inputLogin:hover {
    background-color: #641d48;
    transition: all 200ms ease-in;
}

.inputCadastro {
    background-color: #602749;
    border: none;
    outline: none;
    width: 300px;
    height: 30px;
}   
   