.btn {
    background-color: #F6921D;
    border: none;
    outline: none;
    width: 300px;
    height: 40px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f5a74f;
    transition: all 200ms ease-in;
}